.clients {

  &-list {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    max-width: 1030px;
    margin: 0 auto;
  }

  &-item {
    width: 342px;
    height: 300px;
    -webkit-perspective: 1000;
    perspective: 1000;

    .business-card {
      position: relative;
      transition: 1.6s;
      transform-style: preserve-3d;
      transform-origin: center 160px;

      &:hover {
        transform: rotateY(180deg);
      }
    }

    .front,
    .back {
      position: absolute;
      top: 0;
      left: 0;
      width: 342px;
      height: 300px;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

     .back {
       padding: 25px 25px 0;
       transform: rotateY(180deg);
     }

    .business-card {
      .customer-logo {
        width: 130px;
        height: 85px;
        margin-bottom: 15px;

      }

      .customer-information {
        p {
          margin: 0;
          text-align: left;
          color: #fff;
        }
      }
    }
  }

  .client--shcedro {
    .front {
      background: red url(../images/1.png) center no-repeat;
      background-size: 100%;
    }

    .back {
      background-color: red;
      
      .customer-logo {
        background: red url(../images/1.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  .client--market {
    .front {
      background: url(../images/2.png) 0 0 no-repeat;
      background-size: 100%;
    }

    .back {
      background-color: red;

      .customer-logo {
        background: url(../images/2.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  .client--tavriya {
    .front {
      background: url(../images/3.png) 0 0 no-repeat;
      background-size: 100%;
    }

    .back {
      background-color: brown;

      .customer-logo {
        background: url(../images/3.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  .client--bic {
    .front {
      background: url(../images/4.png) 0 0 no-repeat;
      background-size: 100%;
    }

    .back {
      background-color: #ffb636;

      .customer-logo {
        background: url(../images/4.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  .client--prostor {
    .front {
      background: url(../images/5.png) 0 0 no-repeat;
      background-size: 100%;
    }

    .back {
      background-color: #9a3597;

      .customer-logo {
        background: url(../images/5.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  .client--farming {
    .front {
      background: url(../images/6.png) 0 0 no-repeat;
      background-size: 100%;
    }

    .back {
      background-color: #ca7326;

      .customer-logo {
        background: url(../images/6.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  .client--meat {
    .front {
      background: url(../images/7.png) 0 0 no-repeat;
      background-size: 102%;
    }

    .back {
      background-color: red;

      .customer-logo {
        background: url(../images/7.png) center no-repeat;
        background-size: 100%;
      }
    }
  }

  .client--antoshka {
    .front {
      background: url(../images/8.png) 0 0 no-repeat;
      background-size: 100%;
    }

    .back {
      background-color: red;

      .customer-logo {
        background: url(../images/8.png) center no-repeat;
        background-size: 100%;
      }
    }
  }
}